body
  font-family sans-serif
  font-size 1.5em


#container
  margin auto
  width  500px

  h1
    color #999
    text-align center
    padding-bottom 40px

  #chat
    margin auto
    width  500px
    #message
      height    180px
      font-size 2em
      span
        color     #999
        font-size 0.8em
    #own-message
      font-size 1.5em
      padding   5px
      color     #999
      height    50px
    #typing-box
      display   block
      margin    auto
      padding   20px
      width     450px
      height    20px
      font-size 1.5em

  #loading
    text-align center
    .spinner
      width  64px
      height 64px

  #sharing
    margin-top 80px
    text-align center